{%- if section.blocks.size > 0 -%}
  {%- comment -%}
    ------------------------------------------------------------------------------------------------------------------------
    CSS
    ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  <style>
    #shopify-section-{{ section.id }} {
      --testimonials-font-size: calc(clamp(1.125rem, 1.064516129032258rem + 0.25806451612903225vw, 1.25rem) * {{ section.settings.font_size_factor }});
      --press-quotation-mark-svg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" focusable="false" width="62" fill="none" viewBox="0 0 62 57"><path fill="%23000" d="M.79 31.904 11.924.816h12.296l-8.12 31.088h7.888V56.96H.79V31.904Zm37.351 0L49.277.816h12.064l-8.12 31.088h7.888V56.96H38.141V31.904Z" /></svg>');
    }
  </style>

  {%- comment -%}
    ------------------------------------------------------------------------------------------------------------------------
    LIQUID
    ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {%- assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient
    | default: section.settings.color_scheme.settings.background
    | md5
  -%}

<div  class="section-spacing color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}" style="{% render 'surface', background: section.settings.background, text_color: section.settings.text_color %}">
    <div class="container container--lg">
      <div class="section-stack">
        {%- if section.settings.title != blank
          or section.settings.subheading != blank
          or section.settings.content != blank
        -%}
          {%- render 'section-header',
            subheading: section.settings.subheading,
            heading: section.settings.title,
            content: section.settings.content,
            text_alignment: section.settings.content_alignment
          -%}
        {%- endif -%}

        
          

        <div class="customsection-list">
          {%- assign carousel_id = 'carousel-' | append: section.id -%}

          <customsection-carousel allow-swipe class="customsection-carousel" id="{{ carousel_id }}">

            {%- for block in section.blocks -%}
                <div class="customsection-item text-center {% if forloop.first %}is-selected{% endif %}" {{ block.shopify_attributes }}>
                  <div class="customsection-wrapper">
                    {%- if block.settings.block_subheading != blank -%}
                      <div class="h-stack gap-4">
                        <span class="customsection-subheading-dot"></span>
                        <div class="text-sm bold smallcaps">
                          {{- block.settings.block_subheading -}}
                        </div>
                      </div>
                    {%- endif -%}

                    <div class="customsection-image-wrapper text-start gap-4">
                      {% if block.settings.image == blank %}
                        {% render 'product-card', product: block.settings.product, hide_product_information: true %}
                      {% else %}
                        <image src="{{- block.settings.image | image_url: width: 400 -}}"></image>
                      {% endif %}

                      {% if block.settings.block_link_text != blank %}
                        {% unless block.settings.product == blank and block.settings.link_url == blank %}
                          {% if block.settings.link_url != blank %}
                            <div>
                              <a href="{{block.settings.link_url}}" class="text-sm link bold smallcaps">
                                {{- block.settings['block_link_text-'] -}}
                              </a>
                            </div>
                          {% else %}
                            <div>
                              <a href="{{block.settings.product.url}}" class="text-sm link bold smallcaps">
                                {{- block.settings['block_link_text-'] -}}
                              </a>
                            </div>
                          {% endif %}
                        {% endunless %}
                      {% endif %}
                    </div>
                  </div>

                  <div class="customsection-content-wrapper">
                    {% if block.settings.block_content != blank %}
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        focusable="false"
                        width="120"
                        fill="{{block.settings.icon_color}}"
                        viewBox="0 0 62 57"
                      >
                        <path fill="%23000" d="M.79 31.904 11.924.816h12.296l-8.12 31.088h7.888V56.96H.79V31.904Zm37.351 0L49.277.816h12.064l-8.12 31.088h7.888V56.96H38.141V31.904Z" />
                      </svg>
                      <div class="h2">
                        {{- block.settings.block_content -}}
                      </div>
                    {% endif %}
                  </div>

                  <div class="customsection-info">
                    <div class="custom-rating-badge">
                      {% if block.settings.show_rating %}
                        {%- for i in (1..5) -%}
                          {%- if i <= block.settings.rating -%}
                            {%- render 'icon' with 'star-rating', class: 'custom-rating-badge__stars', width: 15 -%}
                          {%- else -%}
                            {%- render 'icon' with 'star-rating-empty', class: 'custom-rating-badge__stars', width: 15 -%}
                          {%- endif -%}
                        {%- endfor -%}
                      {% endif %}
                    </div>

                    {% if block.settings.author_name != blank %}
                      <p class="bold text-base">{{ block.settings.author_name }}</p>
                    {% endif %}

                    {% if block.settings.author_detail != blank %}
                      <p class="text-subdued">{{ block.settings.author_detail }}</p>
                    {% endif %}
                  </div>

                  <div class="customsection-gradient">gradient</div>
                </div>
             {%- endfor -%}
          </customsection-carousel>

            {%- if section.blocks.size > 1 -%}
              <carousel-navigation aria-controls="{{ carousel_id }}" class="page-dots">
                {%- for i in (1..section.blocks.size) -%}
                  <button class="tap-area" aria-current="{% if forloop.first %}true{% else %}false{% endif %}" aria-label="{{ 'general.accessibility.go_to_item' | t: index: forloop.index | escape }}">
                    <span class="sr-only">{{- 'general.accessibility.go_to_item' | t: index: forloop.index -}}</span>
                  </button>
              {%- endfor -%}
            </carousel-navigation>
          {%- endif -%}
        </div> 
      </div>
    </div>
</div>
 {%- endif -%}


{% schema %}
{
  "name": "Custom Section",
  "class": "custom-section",
  "tag": "section",
  "max_blocks": 5,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-3"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:global.position.content_position",
      "options": [
        {
          "value": "start",
          "label": "t:global.position.left"
        },
        {
          "value": "center",
          "label": "t:global.position.center"
        },
        {
          "value": "end",
          "label": "t:global.position.right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Custom Testimonial",
      "type": "Testimonial",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "block_subheading",
          "label": "Subheading",
          "default": "Testimonials"
        },
        {
          "type": "richtext",
          "id": "block_content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "icon_color",
          "label": "Icon color"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Will take precedence over product main image"
        },
        {
          "type": "text",
          "id": "block_link_text",
          "label": "Link text",
          "default": "View product"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL",
          "info": "Must be defined for the link text to display"
        },
        {
          "type": "checkbox",
          "id": "show_rating",
          "label": "Show Rating",
          "default": true
        },
        {
          "type": "range",
          "id": "rating",
          "label": "Rating",
          "min": 0,
          "max": 5,
          "default": 3,
          "step": 1
        },
        {
          "type": "inline_richtext",
          "id": "author_name",
          "label": "Author name",
          "default": "Author's name"
        },
        {
          "type": "inline_richtext",
          "id": "author_detail",
          "label": "Author details"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom section",
      "settings": {
        "title": "Custom section title"
      },
      "blocks": [
        {
          "type": "Testimonial"
        },
        {
          "type": "Testimonial"
        }
      ]
    }
  ]
}
{% endschema %}
